<!DOCTYPE html>
<html>
  <head>
    <title>Classifica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCebMK99l7Z-SaeHMbbIb1rTTAI5LRI4o4&callback=initMap" async defer></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'pages/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
